body {
  margin: 0;
  background-color: #f5f3ff;
  font-family: "Roboto", sans-serif;
}

p,
h3 {
  margin: 0;
}

.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 3fr 300px;
  grid-template-rows: 0.5fr 3fr;
}

.sidebar {
  background-color: #5b21b6;
  grid-column: 2 / 3;
  grid-row: 1 / 4;
}

.form-container {
  display: grid;
  place-items: center;
  color: white;
}

.form-container h1 {
  color: inherit;
}

.form-container label {
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 5px;
}

.form-container input {
  height: 18px;
  padding-left: 10px;
  margin-bottom: 16px;
  border-radius: 12px;
  border: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 18px;
  gap: 10px;
}

.form-container div label,
.form-container div input {
  margin: 0;
}

.submit-button {
  cursor: pointer;
  border-radius: 10px;
  height: 36px;
  width: 100px;
  background-color: #ddd6fe;
  font-weight: 700;
  font-size: 16px;
  color: #2e1065;
}

.header {
  display: grid;
  place-items: center;
  margin-bottom: 12px;
}

.header h1 {
  color: #2e1065;
}

.search-bar-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.search-bar {
  background-color: #ede9fe;
  flex: 1;
  height: 24px;
  width: 400px;
  padding-left: 10px;
  border-radius: 12px;
}

.search-bar-button {
  display: grid;
  background-color: #7c3aed;
  border-radius: 12px;
  padding: 1px 4px;
}

.search-bar-icon {
  width: 28px;
  fill: white;
}

.library-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(550px, 1fr));
  grid-auto-rows: 200px;
  gap: 10px;
  padding: 10px;
  max-height: 100vh;
  overflow: auto;
}

.book-card-container {
  background-color: #ddd6fe;
  border-radius: 18px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.book-card {
  display: flex;
  height: 100%;
  margin: 0;
}

.book-card-edge {
  display: flex;
  align-items: center;
  margin: 0 12px;
}

.circle-border {
  cursor: pointer;
  display: grid;
  place-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid #2e1065;
}

.circle-checked {
  fill: #2e1065;
}

.book-card-info {
  flex: 1;
  display: grid;
  align-items: center;
  grid-template-rows: repeat(5, 1fr);
  margin: 6px 0;
  padding: 0 18px;
  border: 4px solid #2e10652d;
  border-radius: 18px;
}

.title {
  border-bottom: 4px solid #2e1065;
  font-weight: 800;
}

.author,
.pages,
.genre {
  font-weight: 500;
}

.delete-icon {
  cursor: pointer;
  height: 28px;
  fill: #2e1065;
  justify-self: right;
  align-self: center;
}
